@import "global-fonts.css";

.Color-pallete{
    color:#A168C0;
    color:#0078F6;
    color:#D6DFFD;
    color:#FFD4B8;
    color:#FFFFFF;
    color:#F8F8F8;
    color:#EEEEEE;
    color:#AAAAAA;
    color:#4D4D4D;
}  

#listGuardados{
    margin-bottom: 1.5rem;
    width: 60em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.p-i-c-guardados-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

    .detalles-guardados{
        margin-top: 1.5rem;
    }

.p-i-c-extra-info-guardados{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

    .link{
        font-family: ls_r;
        color: #0078F6;
        font-size: 1rem;
    }

        .l-space{
            margin: 0 0.5rem;
        }

        .link:hover{
            text-decoration: underline;
            color: #A168C0;
            font-size: 1rem;
        }

.m-p-p-g-box{
    margin-bottom: 1.5rem;
    width: 100%;
    border-top: solid #AAAAAA 1px;
    border-bottom: solid #AAAAAA 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
}

.g-box{
    border-top: none;
    padding-top: 3rem;
}

    .m-p-p-guardados{
        height:25em;
        width:100%;
        background: rgb(229,229,229) blur(10px);
        background: linear-gradient(195deg, rgba(229,229,229,1) 35%, rgba(230,230,230,1) 49%, rgba(236,236,236,1) 61%, rgba(235,235,235,1) 85%);
        border-radius: 25px;
        margin-bottom: 3rem;
        object-fit: cover;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        clip-path: fill-box;
    }

        .mockup-p-p-guardados{
            height: 100%;
            width: 100%;
            background-image: url("../Imagenes/Home/boxes.png");
            background-size: cover;
            background-clip: border-box;
            background-repeat: no-repeat;
            border-radius: 25px;
            background-position: left;
        }

        .mockup-p-p-txt-guardados{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding-right: 8rem;
        }

            .mockup-p-p-txt-title-guardados{
                font-family: ls_b;
                font-size: 2rem;
                color: #A168C0;
                margin-bottom: 1.5rem;
            }

            .mockup-p-p-txt-text-guardados{
                font-family: ls_r;
                font-size: 1rem;
                color: #4D4D4D;
                margin-bottom: 1.5rem;

            }